stages:
  - test
  - deploy

# TODO: move this to .github/workflows
deploy:
  stage: deploy
  script:
    - wasm-pack build --target web
    - cd frontend
    - npm install
    - npm run build
  artifacts:
    paths:
      - frontend/dist/
